---
layout: play-side
title: grid1
slug: grid1
status: public
tags: no-scroll, no-zoom, p5js, random
date: 2020-10-10
permalink: /:title/
---
<p>Grid toolbox, version 1.0.1, <a href="https://github.com/nonlinear/play/blob/master/assets/articles/03.md#creative-code-toolbox">check feature list</a></p>

<p>From this glitch</a>, studying with <a href="https://www.twitch.tv/rodjunjun">Rodrigo Junqueira</a>.</p>

<p><a href="javascript:location.reload();">Reload page</a> for new random content.</p>

<style>
  {% include styles/card.css %}
  </style>
<script>
	{% include toolbox/Grid.js %}
  {% include Element.js %}

  let grid1;
let elementsQty = 9;

function setup() {
  createCanvas(400, 584);
  grid1 = new Grid(7,0);
  
  // generation
  for (let j = 0; j < grid1.cellNumber; j++) {
    for (let i = 0; i < elementsQty; i++) {
      let newE = new Element(grid1.width);  
      grid1.stack(j,newE);
    }
  }
  
  
  
  // get colwidth
  // pass collwidth*2 as this.size
  // heigth/this.size (arredondado para baixo) é o numero de objetos por coluna
  

  
}

function draw() {
  background(255);
  
  // presentation
  grid1.show();
  
  // logica do stack
  // ha um objeto ja na coluna? se nao, 0, 0
  // se sim, 0, (sum of all previous objects height)
  

//   grid1.show();
//   fill(0);
//   textSize(20);
//   text('dsfsdv fgregrw fdgsgsfg dgsgsfg', grid1.cellPosition(2), 0, grid1.width);
//   push(); 
//   noStroke();
//   fill(200,0,255);
//   rect(grid1.cellPosition(0),0,grid1.width,100);
//   pop();
}





	</script>