---
layout: default
title: Best from Clip Studio Pro
slug: clip-studio
categories: illustrations
status: public
description: made like, 2018? I dunno.
uses: header, style, bootstrap, jquery, favicon, open-graph
date: 2020-01-29 18:03:16 -0500
permalink: /:categories/:slug/
---

<section class="gallery">
{% for image in site.static_files %}
    {% if image.path contains '/assets/images/illustrations/clip-studio' %}
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
    {% endif %}
{% endfor %}
</section>

<!-- {% include image-gallery.html folder="/assets/images/illustrations/other/" %}

 -->