---
layout: default
title: permissions
slug: permissions
status: public
category: creative code
tags: devices
uses: no-zoom, p5js, accelerometer, fullscreen, style, no-scroll
date: 2020-03-24
permalink: /:slug/
---
<div id="permissions">
  <div class="modal">
    <div class="icon">{% include icons/checklist.svg %}</div>
    <div class="checklist">
     <a class="motion" href="#" onclick='requestMotionPermission();'>{% include icons/warning.svg %}Allow gyroscope permissions</a>
     <a class="location" href="#">{% include icons/warning.svg %}Allow location permissions</a>
     <a class="camera" href="#">{% include icons/warning.svg %}Allow camera permissions</a>
   </div>

   <a href="#" class="launch" onClick='screenfull.request();
   var element = document.getElementById("permissions");
   element.classList.add("closed");
   '>
 ✨ Launch</a>
</div>
</div>
<!-- <h2>TODO</h2>
<ul>
  <li>testar :fullscreen pseudo class</li>
  <li>testar orientation lock</li>
  <li>testar permissoes de acelerometro no android</li>
  <li>fix fullscreen on firefox ios</li>
  <li>comecar com permission interstitial</li>
</ul>
<hr>

<button onClick='screenfull.exit();'>Remove fullscreen</button>
<button onClick='screenfull.toggle();'>Toggle fullscreen</button>
<p>This experiment uses accelerometer so it needs your permission</p>

<hr>
<h2>orientation lock test</h2>
<button onClick='screen.orientation.lock("natural");'>natural</button>
<button onClick='screen.orientation.lock("portrait-primary");'>portrait-primary</button>
<button onClick='screen.orientation.lock("portrait-secondary");'>portrait-secondary</button>
<button onClick='screen.orientation.lock("landscape-primary");'>landscape-primary</button>
<button onClick='screen.orientation.lock("landscape-secondary");'>landscape-secondary</button> -->

<script type="text/javascript">

  function requestOrientationPermission(){
    DeviceOrientationEvent.requestPermission()
    .then(response => {
      if (response == 'granted') {
        window.addEventListener('deviceorientation', (e) => {

        })
      }
    })
    .catch(console.error)
  }
  function requestMotionPermission(){
    DeviceMotionEvent.requestPermission()
    .then(response => {
      if (response == 'granted') {
        window.addEventListener('devicemotion', (e) => {
                    // do something with e
                  })
      }
    })
    .catch(console.error)
  }
</script>
