@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Space Grotesk, 
	$path: "/assets/fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(RenoMono, 
	$path: "/assets/fonts/");

// prevent elastic scroll



body {
    font-family: Space Grotesk;
    background-color: #ccc;
    padding: 0;
    margin: 0;
    @include transition;
}
.container {
	padding: $gap3 0;
}

ol, ul {
	padding-left: $gap2;
}




.divider {
	margin: $gap2 0;
}


h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1, h2, h3, h4, h5, p {
	margin-bottom: $gap;
}










a {
	color: black;
	background-color: $link;
	@include transition;
	&:hover {
		color: black;
		text-decoration: none;
		background-color: $hover;
	}
}



$menu: 250px;
$peek: 30px;

.menu { 
	width: $menu;
	padding-right: $peek;
	height: 98vh;
	@include transition;
	position: absolute;
	top: 0;
	body.article & {
		@include fadeInLeft($duration: 1s, $delay: 300ms);
		.scroll {
			@include shadow(box, 3px 0 0px rgba(0, 0, 0, 0.07));
		}
	}
	body:not(.article) & {
		left: ($menu - $peek) * -1;
		@include opacity(30);
		&:hover, &:focus, &:focus-within {
			left: 0;
			@include opacity(100);
			.scroll {
				@include shadow(box, 3px 0 0px rgba(0, 0, 0, 0.07));
			}
		}
		&:after {
			content:"ⓘ";
			margin-top: -$peek;
			margin-right: -$peek;
			font-size: 20px;
			padding: 5px;
			width: $peek;
			height: $peek;
			float: right;
			display: inline-block;
		}
	}

	box-sizing: border-box;

	margin: 1vh 0;
	header {
margin-bottom: 20px;
	p {
	margin-bottom: 0;
		font-size: 80%;
	}

	}
			.title {
		margin: 0;
		padding:0;
	}
	
	
	.scroll {
		overflow: auto;
		padding: 20px;
		background-color: white;
		@include radius(0, 10px, 10px, 0, irregular);
		box-sizing: border-box;
		height: 98vh;

	}
}


.books {
	img {
		width: 200px;
	}
}

.categories {
	display: grid;
	grid-gap: $gap2;
	grid-template-columns: repeat(4, 1fr);
	.category {
		ul {
	@include reset(all);
	@include reset(list);
		}
	}
}


header.header {
		line-height: 100%;
	.title, .description {
		margin-bottom: 0;

	}
	.date {
		@include translate(0, 15);
		font-size: 80%;
		color: #999;
	}
}