@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Light, 
	$weight: normal, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold, 
	$style: normal, 
	$stretch: normal, 
	$transform: normal
	);

.container {
	width: 100%;
	max-width: 750px;
	padding: $gap3 $gap;
	padding-top: 0;

}





body {
	font-family: Space Grotesk;
	background-color: $color-bg;
	padding: 0;
	margin: 0;
	@include transition;
	font-size: 110%;
}






hr {
	margin: $gap2 0;
}


h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1, h2, h3, h4, h5, p {
	margin-bottom: $gap;
}










a {
	color: black;
	background-color: $link;
	@include transition;
	&:hover {
		color: black;
		text-decoration: none;
		background-color: $hover;
	}
}

