@import "vendor/animatewithsass/animate.scss";
@import "vendor/tile.scss";
@import "mixins";
@import "functions";
@import "layout";
@import "mosaic";
// @import "requests"; // experimental



.spin-scroll {
	--width: 300px;
	--height: 250px;
	width: var(--width);
	height: var(--height);
	&.horizontal {
		overflow-y: hidden;
		.scroll {
			width: calc(var(--width) * 5);
		}
	}
	&.vertical {
		overflow-x: hidden;
		.scroll {
			height: calc(var(--width) * 5);
		}
	}
	.scroll {
		img, svg {
			width: var(--width);
			height: var(--height);
		}
	}
}