---
layout: default
---
<html>
{% include scripts/head.html %}
<body class="play">
		<div class="menu">
			<div class="scroll">
{% if page.path contains '_posts' %}

				<h2 class="title">{{ page.title }}</h2>
<div class="actions">			<a href="https://github.com/nonlinear/play/blob/master/{{page.path}}" target="_blank">
    view github code</a>
		</div>
			{% else %}
			<h2 class="title"><a href="{{ site.url }}">{{site.title}}</a></h2>
			<h3>{{site.description}}</h3>
			{% endif %}


			
			{{ content }}
			
			</div>
</div>
	
	{% include scripts/bootstrap.html %}
	{% include scripts/p5js.html %}
</body>

</html>
