---
layout: default
---
<html>
{% include head.html %}
<body class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}" id="{%- if page.status -%}{{ page.status }}{%- endif -%}">
		<div class="menu">
			<div class="scroll">
{% if page.path contains '_posts' %}

				<h2 class="title">{{ page.title }}</h2>
<div class="actions">			<a href="https://github.com/nonlinear/play/blob/master/{{page.path}}" target="_blank">
    view github code</a>
		</div>
			{% else %}
			<h1 class="title">{{site.title}}</h1>
			<hr>
			{% endif %}


			
			{{ content }}
			
			</div>
</div>
<script>
	// prevent scroll
	document.addEventListener('gesturestart', function (e) {
    e.preventDefault();
});
	// hide navigation
window.scrollTo(0,1);
</script>


	<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.dom.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.sound.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/ml5.min.js' | prepend: site.baseurl}}"></script>


<!-- 
<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/modernizr.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/detectizr.js' | prepend: site.baseurl}}"></script>

		
	<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
    $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: ''})
    .on("mouseenter", function () {
      var _this = this;
      $(this).popover("show");
      $(".popover").on("mouseleave", function () {
        $(_this).popover('hide');
      });
    }).on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide");
        }
      }, 300);
    });
    </script> -->
             
</body>

</html>
