---
layout: default
---
<html>
<head>
  {% if page.switches contains "redirect" %}
  {% include switches/redirect.html %}
  {%- endif -%}
  {% if page.switches contains "favicon" %}
  {% include switches/favicon.html %}
  {%- endif -%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}{%- if page.title -%}, {{ page.title }}{%- endif -%}</title>
  {% if page.switches contains "open-graph" %}
  {% include switches/open-graph.html %}
  {% endif %}
  {% if page.switches contains "bootstrap" %}
  {% include switches/bootstrap-1of2.html %}
  {% endif %}
  {% if page.switches contains "style" %}
  {% include switches/style.html %}
  {% endif %}
</head>
<body class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}" id="{%- if page.status -%}{{ page.status }}{%- endif -%}">
  {% include switches/request.html %}
  {% if page.switches contains "header" %}
  <div class="container">
    <header class="header wow">
      {% if page.path contains '_posts' %}
      <h5><a href="{{ site.url }}">{{ site.title }}</a>/<a data-toggle="popover" title="more {{ page.categories }}" data-html="true" data-content='
        {% include categories.html %}
        ' data-placement="bottom">{{ page.categories }}</a>/</h5>
        <h1 class="title">{{ page.title }}</h1>
        {% if page.categories contains 'rings' %}
        <h5>from <a href="{{ page.source }}">{{ page.source }}</a></h5>
        {% else %}
        <h5 class="description">{{ page.description }}</h5>
        {% if page.status contains 'public' %}
        <h5 class="date">Published in {{ page.date | date_to_string }}</h5>
        {% endif %}
        {% endif %}
        {% else %}
        <h1 class="title"><a href="{{ site.url }}">{{site.title}}</a></h1>
        <h3 class="description">{{site.description}}</h3>
        {% endif %}
      </header>
      <hr class="wow divider">
      <article class="main wow">
        {{ content }}
      </article>
    </div>
    {% elsif page.switches contains "sidenotes" %}
    <div class="menu">
      <div class="scroll">
        {% if page.path contains '_posts' %}
        <header>
          <h2 class="title">{{ page.title }}</h2>
          <p>{% for tag in page.tags %}
           {{ tag }}
         {% endfor %}</p>
         <p><a href="https://github.com/nonlinear/play/blob/master/{{page.path}}" target="_blank">
         view github code</a></p>
         {% else %}
         <h1 class="title">{{site.title}}</h1>
         {% endif %}
         <hr>
       </header>
       {{ content }}
     </div>
   </div>
   {% else %}
   {{ content }}
   {% endif %}
   {% if page.switches contains "no-zoom" %}
   {% include switches/no-zoom.html %}
   {% endif %}
   {% if page.switches contains "no-nav" %}
   {% include switches/no-nav.html %}
   {% endif %}
   {% if page.switches contains "no-scroll" %}
   {% include switches/no-scroll.html %}
   {% endif %}
   {% if page.switches contains "no-text-select" %}
   {% include switches/no-text-select.html %}
   {% endif %}
   {% if page.switches contains "p5js" %}
   {% include switches/p5js.html %}
   {% endif %}
   {% if page.switches contains "ml5js" %}
   {% include switches/ml5js.html %}
   {% endif %}
   {% if page.switches contains "jquery" %}
   {% include switches/jquery.html %}
   {% endif %}
   {% if page.switches contains "smooth-scroll" %}
   {% include switches/smooth-scroll.html %}
   {% endif %}
   {% if page.switches contains "bootstrap" %}
   {% include switches/bootstrap-2of2.html %}
   {% endif %}
   {% if page.switches contains "modernizr" %}
   {% include switches/modernizr.html %}
   {% endif %}
   {% if page.switches contains "fullscreen" %}
   {% include switches/fullscreen.html %}
   {% endif %}
 </body>

 </html>
