---
layout: play
---
<html>
{% include head.html %}
<body class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}" id="{%- if page.status -%}{{ page.status }}{%- endif -%}">
		<div class="menu">
			<div class="scroll">
{% if page.path contains '_posts' %}
<header>
				<h2 class="title">{{ page.title }}</h2>
   <p>{% for tag in page.tags %}
 {{ tag }}
         {% endfor %}</p>
	    <p><a href="https://github.com/nonlinear/play/blob/master/{{page.path}}" target="_blank">
    view github code</a></p>
{% else %}
			<h1 class="title">{{site.title}}</h1>
		
			{% endif %}
			<hr>
	</header>
			{{ content }}
			</div>
</div>




{% if page.path contains '_posts' %}
    {% for tag in page.tags %}
     {% if tag contains "other" %}
     <script>
  document.addEventListener('gesturestart', function (e) {
    e.preventDefault();
});
</script>
  {% endif %}
    {% if tag contains "no-nav" %}
  <script>
window.scrollTo(0,1);
</script>
  {% endif %}
    {% if tag contains "no-scroll" %}
  <style>
      html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}
body {
  height  : 100%;
  overflow: auto;
  position: relative;
  overflow: hidden;
}
  </style>
  {% endif %}

    {% if tag contains "p5js" %}
	<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.dom.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/p5.sound.min.js' | prepend: site.baseurl}}"></script>
{% endif %}
    {% if tag contains "ml5js" %}
   	<script src="{{'/assets/vendor/ml5.min.js' | prepend: site.baseurl}}"></script>
{% endif %}
    {% if tag contains "jquery" %}
   <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
{% endif %}
    {% if tag contains "bootstrap" %}
     	<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
    $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: ''})
    .on("mouseenter", function () {
      var _this = this;
      $(this).popover("show");
      $(".popover").on("mouseleave", function () {
        $(_this).popover('hide');
      });
    }).on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide");
        }
      }, 300);
    });
    </script>
{% endif %}

    {% if tag contains "modernizr" %}
   	<script src="{{'/assets/vendor/modernizr.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/detectizr.js' | prepend: site.baseurl}}"></script>
{% endif %}
    {% endfor %}
    {% endif %}




             
</body>

</html>
